.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
  text-align: center;
}

section {
  padding-top: 6rem;
}

/* Style Navbar */
.nav-link {
  color: white;
}

.nav-link:hover {
  color: tomato;
  transition: 0.3s ease-in-out;
}

/* End Navbar */

/* Style Project */

.card-body:hover {
  background-color: tomato;
  color: white;
  transition: 0.3s ease-in-out;
}

/* End Project */

/* Icon Footer */
.icons {
  background-color: none;
  color: white;
  font-size: 20px;
}

.icons:hover {
  transform: rotateZ(3deg);
  transition: 0.3s ease-in-out;
  color: tomato;
}

.icon {
  font-size: 20px;
  margin-bottom: 10px;
}

.icon:hover {
  font-size: 25px;
  transform: rotateZ(45deg);
  transition: 0.3s ease-in-out;
}

/* End Icon Footer */

@media (min-width: 375px) and (max-width: 745px) {
  .icon {
    padding-right: 5px;
    margin-bottom: 10px;
  }
}
